body{
    margin: 0;
    font-family: font-family: 'Oswald', sans-serif;
}

hr{
    size-adjust: 10px;
    margin-top: 2px;
}

span{
    font-size: 30px;
}
h2{
    font-size: 50px;
}
h1{
    font-size: 50px;
    margin-top: 3px;
}
.s1{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
width: 50%;
padding-left: 8%;
}
.half-width images{
    width: 80%;

}
.hireme{
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 700;
}

.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}





















    