body{
    margin: 0;
    font-family: font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 50px;
}
.s1{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width{
    width: 80%;

}
.hireme{
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 700;
}

.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}



























    